<?xml version='1.0' encoding='utf-8'?>
<widget id="org.devgeeks.notemindr" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>notemindr</name>
  <description>
    A Crypton app combining notes with simple reminders
  </description>
  <author email="tommy@devgeeks.org" href="http://devgeeks.org">
    Tommy-Carlos Williams (tommy@devgeeks.org)
  </author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="StatusBarOverlaysWebView" value="false" />
  <preference name="StatusBarBackgroundColor" value="#ef6c00" />
  <preference name="DisallowOverscroll" value="true"/>
</widget>
