@import (reference) '../../less_includes/colors.less';
@import (reference) '../../less_includes/materialDesignShadowHelper.less';

.item {
  .BoxShadowHelper(1);
  margin: 5px;
  padding: 0;
  height: 100px;
  border-radius: 2px;
  -webkit-box-flex: 1;
  flex: 1 0 130px;

  /*&:first-child {
    flex-basis: 300px;
  }*/

  &.fullwidth {
    flex-basis: 300px;
  }

  a {
    display: block;
    color: inherit;
    text-decoration: none;
    height: 80px;
    padding: 0 16px;

    .heading {
      font-weight: 500;
    }

    .subheading {
      font-size: 90%;
      font-weight: 300;
    }
  }

}
