.nav {

  .button {
    position: absolute;
    width: 72px;
    height: 56px;
    line-height: 56px;
    font-size: 200%;
    color: #ffe0b2;
    font-weight:100;

    a {
      padding: 0 0 0 16px;
    }

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
      text-align: right;
      font-size: 150%;

      a {
        padding: 0 16px 0 0;
      }
    }
  }
}
