@import (reference) '../../less_includes/mixins.less';
@import (reference) '../../less_includes/colors.less';

.header {
  .positionAbsolute(0, 0, auto, 0);
  z-index: 10;
  height: 55px;
  background-color: @darkPrimaryColor;
}
