* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  tap-highlight-color: rgba(0,0,0,0);
}

body {
  -webkit-touch-callout: none;
  touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  user-select: none;
  background-color: #fff;
  background-attachment: fixed;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 100%;
  margin:0px;
  padding:0px;
}


.app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #ef6c00;
  color: #fff;
  height: 56px;
  /* z level 1 */
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 2.5px 0 rgba(0, 0, 0, 0.26);
  z-index: 10;
}

.nav h1 {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  right: 56px;
  left: 72px;
  height: 56px;
  /*text-align: center;*/
  font-size: 130%;
  font-weight: 100;
  line-height: 56px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav h1 i {
  font-size: 90%;
}

.nav h1 a {
  color: inherit;
  text-decoration: none;
}

.nav h1 small {
  font-size: 60%;
  margin: 0 0 0 10px;
}

.nav .button {
  position: absolute;
  width: 72px;
  height: 56px;
  line-height: 56px;
  font-size: 200%;
  color: #ffe0b2;
  font-weight:100;
}

.nav .button a {
  padding: 0 0 0 16px;
}

.nav .button.left {
  left: 0;
}

.nav .button.right {
  right: 0;
  text-align: right;
  font-size: 150%;
}

.nav .button.right a {
  padding: 0 16px 0 0;
}

.button a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.content {
  position: absolute;
  top: 56px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: #ffcc80;
  padding: 5px 0 0 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

p, h2, h3 {
  padding: 10px;
  margin: 0;
}

h2 {
  font-size: 120%;
}

h3 {
  font-size: 100%;
}

#container {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

.item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*border: 1px solid grey;*/
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 2.5px 0 rgba(0, 0, 0, 0.26);
  /*text-align: center;*/
  border-radius: 2px;
  width: 46%;
  min-height: 50px;
  padding: 5px;
  margin: 5px 2%;
  background-color: #fff;
  color: #333;
}

.item.w2 { width: 96%; }

.item.h2 { min-height: 100px; }

.item.h4 { min-height: 200px; }

.fab {
  border-radius: 50%;
  position: absolute;
  /*top: 20px;*/
  bottom: 16px;
  right: 16px;
  background-color: #ff6d00;
  color: #ffe0b2;
  font-size: 160%;
  width: 56px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  font-size: 130%;
  /* z level 2 */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in-out;
  transition-property: transform, box-shadow, bottom;
  -webkit-transition-property: -webkit-transform, box-shadow, bottom;
}

.fab.offline {
  bottom: 46px;
}

.fab.out {
  transform: scale(0);
  -webkit-transform: scale(0);
}

.fab:active {
  /* z level 3 */
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fab.active {
  /* z level 3 */
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Offline overrides */
.offline-ui {
  top: auto;
  bottom: 0;
  padding: 5px !important;
}

.offline-ui-retry {
  height: 30px !important;
  line-height: 30px !important;
}

.spinner {
  width: 100px;
  height: 100px;
  position: relative;
  top: 100px;
  margin: 0 auto;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
}

.spinner > div ::-webkit-input-placeholder {
  color: #8293a1;
  text-shadow: #e8ebee 0 1px 0;
}

.spinner > div.sep {
  font-size: 90%;
  padding: 2px 10px;
  background-color: white;
  border: none;
  border-top: 1px solid #e4e4e4;
  color: #aaaaaa;
  font-weight: 300;
}

